body{
    background-color: plum;
    justify-content: center;

}

h1 { text-align: center;
    color: brown;
}

.image {
  width: 600px;
  height: 400px;
  border: 4px solid black;
  margin-bottom: 10px;
  border-radius: 6px;
}

#dogpic {
   list-style: none; 
   justify-content: center;
}

#button {
    padding: 10px;
    background-color: brown;
    font-size: 20px;
    justify-content: center;
}