:root {
  --page-width: 50vw;
  --primary-colour: #3a7bd5;
  --secondary-colour: #362db3;
  --text-colour-dark: #333;
  --text-colour-light: #ffffff;
  --background-colour: #f0ebd5;
  --foreground-colour: #fff;
  --font-family: "Comic Neue", cursive;
  --border-radius: 0.25rem;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

body, main, header, footer, div {
  box-sizing: border-box;
}

h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}

a, a:active, a:visited {
  text-decoration: none;
  color: var(--secondary-colour);
}

a:hover {
  font-weight: 700;
}

body {
  margin: 0;
  background-color: var(--background-colour);
  font-family: var(--font-family);

  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, main, footer {
  width: var(--page-width);
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
  line-height: 4rem;
  margin: 0;
  color: var(--primary-colour);
}

h2 {
  font-size: 2.5rem;
}

header {
  background-color: var(--foreground-colour);
  padding: 1rem 2rem;
}

main {
  background-color: var(--primary-colour);
  text-align: center;
  padding: 2rem;

  color: var(--text-colour-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main a, main a:active, main a:visited {
  color: var(--text-colour-light);
  text-decoration: underline;
}

img {
  padding: 1rem;
  background-color: var(--foreground-colour);
  border-radius: var(--border-radius);
  margin: 1rem 0 0.5rem;
}

footer {
  background-color: var(--foreground-colour);
  padding: 0.5rem 1rem;
  text-align: center;

  color: var(--text-colour-dark);
  font-weight: 300;
}

footer a{
  color: var(--secondary-colour);
}